<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="FirstName" value="Narrator"/>
    <add key="SecondName" value="Tyler"/>
    <add key="Duration" value="100"/>
  </appSettings>
</configuration>